* {
    background-color: #2e2e2e;
    font: sans-serif;
    color: #ededed;
}

.page_title {
    text-align: center;
    font-family: Verdana;
    font-size: 40px;
    font-style: italic;
    text-decoration: underline;
}

.index_item {
    font-family: 'Franklin Gothic Medium';
    font-size: 15px;
    color: #b997db;

}