* {
    box-sizing: border-box;
}

body {
    background-color: #171717;
    font: sans-serif;
    font-size: 15px;
    color: #ededed;
}

.page_title {
    height: 4em;
    text-align: center;
    font-family: Verdana;
    font-size: 40px;
    text-decoration: underline;
    font-weight: bold;
    background-color: #140a1c;
    padding: 1em;
    margin: 1em auto 1em auto;
    border-width: 5px;
    border-style: solid;
    border-color: #ededed;
}

.description,
.subtitle {
    font-size: 28px;
    font-family: 'Lucida Sans';
    font-style: italic;
    text-align: center;
    margin: 1em auto 1em auto;
}

.subtitle {
    background-color: #4c3c4d; 
    border-width: 2px;
    border-style: dashed;
    width: 10em;
    height: 2em;
} 

.index_list {
    list-style-type: none;
}

.index_section {
    background-color: #422d03;
    margin: 1em auto 1em auto;
    border-width: 2px;
    border-style: solid;
    border-color: antiquewhite;
    padding: 1em;
    width: 20em;
    height: 20em;
}

.index_item {
    display: block;
    font-family: 'Franklin Gothic Medium';
    font-size: 18px;
    text-decoration: none;
    color: whitesmoke;
    margin: 20px 20px 20px 20px;
    height: 50px;
    width: 150px;
    background-color: #209e41;
    padding: 3px;
    border: white;
    border-width: 5px;
    border-style: ridge;
}

.index_item:hover {
    background-color: blueviolet;
}

.image_container {
    background-color: #140a1c;
    height: 35em;
    width: 50em;
    margin: -1em auto 1em auto;
    padding: 1em;
    border-width: 2px;
    border-color: whitesmoke;
    border-style: dotted;
}

.recipe_image {
    display:block;
    margin: 10px auto 0 auto;
    height: auto;
    width: 400px;

}

.food_description {
    font-size: 20px;
}

.servings{
    text-align: center;
    font-size: 16px;
    margin-top: -52px;
}

.ingredients {
    font-size: 18px;
    font: Impact
}
.steps {
    font-size: 20px;
    background-color: #875988;
}